# Dependencies and AdonisJS build
node_modules
build
tmp/*
!tmp/.gitkeep

# Secrets
.env
.env.local
.env.production.local
.env.development.local
.env.test

# Git
.git
.gitignore

# Frontend compiled assets
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
*.md
