# Dependencies and AdonisJS build
node_modules
build
tmp/*
!tmp/.gitkeep

# Spring Boot & Java build artifacts
target/
*.jar
*.war
*.class
.mvn/wrapper/maven-wrapper.jar

# Frontend (Vite & React)
dist/
dist-ssr/
*.local

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Platform specific
.DS_Store

# Docker
docker-data/


backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/

*.zip
*.sql
*.pdf
!backend/src/main/resources/samples/*.pdf
*.log
*.jpg
*.jpeg
*.png
